<% deactived_employees.each do |ae| %>
  <tr>
    <td><%= ae.employee_id %></td>
    <td><%= ae.first_name %></td>
    <td><%= ae.last_name %></td>
    <td><%= ae.email %></td>
    <td class="action-link">
      <a href="#" class="md-trigger pull-right" data-toggle="modal" data-target="#showEmpModal_<%= ae.id %>"><i class="fa fa-user-circle-o"></i></a>
      <div id="showEmpModal_<%= ae.id %>" class="modal fade" role="dialog">
        <%= render partial: 'show_employee', locals: {employee: ae} %>
      </div>
    </td>
    <td>
      <%= link_to "active", activate_employee_path(employee_id: ae.employee_id), data: { confirm: 'Are you sure?' }, class: "active-btn  btn btn-sm btn-primary mg-3" %>
    </td>
  </tr>
<% end %>