<section class="content">
	<div class="panel">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 content-header">
					<h1>Social Networks Details</h1><br />
					<p class="displaying_employees"><%= page_entries_info @clients %></p>
				</div>
				<div class="col-md-4 content-header">
					<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }, remote: true do |f| %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed input-sm search-box search-clients form-control',placeholder: "Search"
            ) %>
            <%= f.hidden_field :sorted_by, value: "created_at_desc" %>
            <%#= render_filterrific_spinner %>
          <%end%>
				</div>
				<div class="col-md-3 content-header">
					<div class="top-links new-top">
						<%= link_to 'xls', client_social_networks_path(format: "xls") %>
            <%= link_to 'csv', client_social_networks_path(format: "csv") %>
            <%= link_to 'pdf', client_social_networks_path(format: :pdf) %>
					</div>
				</div>
				<div class="header-border"></div>
			</div>
		</div>
		<div class="table-responsive">
			<%= render "clients" %>
		</div>
		<div class="pagination-content">
			<%= will_paginate @clients, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
</section>