<% employees.each do |emp| %>
  <tr>
    <td><%= emp.first_name %></td>
    <td><%= emp.last_name %></td>
    <td><%= emp.email %></td>
    <td>
      <a href="#" class="md-trigger" data-toggle="modal" data-target="#empaddModal_<%= emp.id %>" title="Address"><i class="fa fa-edit"></i></i></a>
      <div id="empaddModal_<%= emp.id %>" class="modal fade" role="dialog">
        <%= render partial: "employee_addresses/address_detail", locals: {employee: emp} %>
      </div>
    </td>
  </tr>
<% end %>