<%= form_for task, url: project_client_task_update_path(project,task), method: :put, remote: true do |f| %>
  <div class="modal-body">
    <div class="errors"></div>
    <div class="form-group">
      <label for="task-title">Task Tile</label>
      <%= f.text_field :title,class: "form-control", required: true %>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
                <label>Assign To</label>
                <% if project.assigned_employees.count > 0 %>
                  <%= f.select :employee_id, options_for_select(project.assigned_employees.map{|e| [e.name?,e.id]}, task.try(:employee_id) ),{prompt: "Select Employee"}, class: "form-control" %>
                <%else%>
                  <label>None Employee</label>
                <%end%>
              </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label>Task Type</label>
              <%= f.select :task_type_id, options_for_select(TaskType.all.map{|t| [t.try(:name), t.try(:id)]}, task.try(:task_type_id)),{prompt: "Select task type"}, class: "form-control", required: true %>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <label for="priority"> Prioriy</label><br>
              <%= f.radio_button :task_priority_id, TaskPriority.try(:high?).try(:id) %> 
              <%= label :task_priority_id, 'High' %>
              <%= f.radio_button :task_priority_id, TaskPriority.try(:medium?).try(:id) %>
              <%= label :task_priority_id, 'Medium' %>
              <%= f.radio_button :task_priority_id, TaskPriority.try(:low?).try(:id) %>
              <%= label :task_priority_id, 'Low' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <textarea class="text-area-editor" name="task[description]"><%= task.try(:description) %></textarea>
          </div>
        </div>
        <div class="row top-15">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exampleInputFile">File Upload</label>
              <% f.object.task_attachments.build %>
              <% j = 0%>
              <%= f.fields_for :task_attachments do |attach| %>
                <% if j == 0 %>
                  <%= attach.file_field :file %>
                  <% j += 1 %>
                <%end%>
              <%end%>
              <p class="help-block">Example block-level help text here.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label>Start Date</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right from_date" name="task[start_date]" value="<%= task.try(:start_date) %>" required>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label>Due Date</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right to_date" name="task[due_date]" value="<%= task.try(:due_date) %>" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <div class="form-group">
                <label>Estimate Hours</label>
                <div class="input-group">
                  <input type="time" class="form-control" name="task[estimated_hours]" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$" value="<%= task.try(:estimated_hours).present? ? task.try(:estimated_hours).strftime("%H:%M") : '00:00' %>" readonly>
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <div class="form-group">
                <label>Spent Hours</label>
                <div class="input-group">
                  <input type="time" class="form-control" name="task[actual_hours_taken]" pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$" value="<%= task.try(:actual_hours_taken).present? ? task.try(:actual_hours_taken).strftime("%H:%M") : '00:00' %>" readonly>
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
  </div>
  <div class="box-footer">
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    <%= f.submit class: "btn btn-primary" %>
  </div>
<%end%>