 <section class="content">
  <div class="panel">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 content-header">
        <h1>Policy</h1><br />
        <p class="displaying_privacy_poliycy"><%= page_entries_info @privacy_policies %></p>
        </div>
        <div class="col-md-4 content-header">
           <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }, remote: true do |f| %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed search-input col-xs-11 search-clients form-control',placeholder: "Search"
            ) %>
            <%= f.hidden_field :sorted_by, value: "created_at_desc" %>
          <%end%>
        </div>
        <div class="col-md-4 content-header">
          <div class="top-links new-top">
            <%= link_to 'xls', privacy_policies_path(format: "xls") %>
            <%= link_to 'csv', privacy_policies_path(format: "csv") %>
            <%= link_to 'pdf', privacy_policies_path(format: :pdf) %>
          </div>
        </div>
        <div class="header-border"></div>
      </div>
    </div>
    <div class="privacy_policy"> 
      <%= render partial: "privacy_policy", locals: {privacy_policies: @privacy_policies} %>
    </div>
  </div>
</section>