<section class="content-header">
  <h3>Office Expense</h3>
</section>
<section class="content"> 
  <div class="row">
      <div class="box box-sucess">
        <%= form_for expense, url: url, remote: true do |f| %>
          <div class="box-body">
            <div class="form-group">
              <%= f.label :transaction_via_id %>
              <%= f.select :transaction_via_id, options_for_select(TransactionVium.all.map{|t| [t.name, t.id]}, expense.transaction_via_id), {prompt: "Select"}, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :money_spent %>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-inr" aria-hidden="true"></i></span>
                <%= f.text_field :money_spent, class: "form-control currency", required: true %>
              </div>
            </div>
             <div class="form-group">
              <%= f.label :spent_date %>
              <%= f.text_field :spent_date, class: "form-control financial_date", required: true %>
            </div>
            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit expense.new_record? ? "Save" : "Update", class: "btn btn-success" %>
            </div>
        <% end %>
      </div>
  </div>
</section>