<table class="table table-bordered fixed-header">
  <thead class="thead-default">
    <tr>
      <td>#</td>
      <td><%= Date::MONTHNAMES[@date.month] %> <%= @date.strftime("%Y") %></td>
      <td><%= get_income(@office_incomes, "OFFICE") %></td>
      <td><%= get_income(@office_incomes, "GOPINATH") %></td>
      <td><%= get_income(@office_incomes, "SARAVANAN") %></td>
      <td><%= get_income(@office_incomes, "OTHERS") %></td>
      <td><%= get_all_income(@office_incomes) %></td>
      <% @clients.uniq.each do |c| %>
        <td><%= get_client_income(c, @office_incomes) %></td>
      <% end %>
    </tr>
    <tr class="income-head">
      <th>S.No</th>
      <th>Money Received Date</th>
      <th>Money Holding By Office</th>
      <th>Money Holding By Gopi</th>
      <th>Money Holding By Saravanan</th>
      <th>Money Holding By Other</th>
      <th>Total Amount</th>
      <% @clients.uniq.each do |c| %>
        <th><%= c.first_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @office_incomes.each.with_index(1) do |oi, index| %>
      <tr>
        <td><%= index %>
        <td><%= oi.money_received_date.strftime("%b %d") %></td>
        <td><%= holding_income(oi, "OFFICE") %></td>
        <td><%= holding_income(oi, "GOPINATH") %></td>
        <td><%= holding_income(oi, "SARAVANAN") %></td>
        <td><%= holding_income(oi, "OTHERS") %></td>
        <td><%= oi.money_received %></td>
        <% @clients.uniq.each do |c| %>
          <% if c.id == oi.client_id %>
            <td>
              <%= oi.money_received %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>