<% employees.each do |emp| %>
  <tr>
    <td><%= emp.first_name %></td>
    <td><%= emp.last_name %></td>
    <td><%= emp.email %></td>
    <td>
      <a href="#" class="md-trigger" data-toggle="modal" data-target="#empprofessionalModal_<%= emp.id %>" title="Add"><i class="fa fa-plus" aria-hidden="true"></i></a>
      <div id="empprofessionalModal_<%= emp.id %>" class="modal fade" role="dialog">
        <%= render partial: "employee_professional_details/professional_detail", locals: {employee: emp} %>
      </div>
    </td>
  </tr>
<% end %>