<h3>Hi <%= @approver.full_name %></h3>
<p>
  <%= @leave.employee.full_name %> has applied leave
</p>
<p>
  From: <%= @leave.from_date.strftime("%d-%m-%Y") %>
</p>
<p>
  To: <%= @leave.to_date.strftime("%d-%m-%Y") %>
</p>
<p>
  Number of Days: <%= @leave.no_of_days %>
</p>
<p>
  Reason : <%= @leave.reason %>
</p>
<p>
	<%= link_to "Approve", leave_permissions_approve_leaves_url(leave_id: @leave.id, leave_permission_status_id: 2), class: "btn btn-default" %>
</p>
<p>
	<%= link_to "Rejected",leave_permissions_reject_leaves_url(leave_id: @leave.id, leave_permission_status_id: 3),class: "btn btn-default" %>
</p>