<section class="content">
	<div class="panel">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4 content-header">
					<h1>Permission Activities</h1><br>
				</div>
       <div class="col-md-4 content-header">
         <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' }, remote: true do |f| %>
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed search-input col-xs-11 search-clients form-control',placeholder: "Search"
            ) %>
            <%= f.hidden_field :sorted_by, value: "created_at_desc" %>
          <%end%>
       </div>
       <div class="col-md-3 content-header">
         <div class="top-links new-top">
          <%= link_to "xls", leave_permissions_leave_approve_path(format: "xls")%>
          <%= link_to 'csv', leave_permissions_leave_approve_path(format: "csv") %>
          <%= link_to 'pdf', leave_permissions_leave_approve_path(format: :pdf) %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12">		
        <p align="center">Leave Approve List</p>
        <div class="new-header-border"></div>
        <div>
        	<div class="leave-approve-lists">
        		<%= render partial: "leave_approve_list", locals: {approve_leave_request: @approve_permission_request, date: @date} %>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>