<% @clients.each.with_index(1) do |client, index| %>
<tr>
  <td><%= index %></td>
  <td><%= client.try(:name?) %></td>
  <td><%= client.try(:client_company).try(:name) %></td>
  <td><%= client.try(:client_company).try(:contact_number) %></td>
  <td><%= client.try(:client_company).try(:address?) %></td>
  <td class="action-link">
    <a data-toggle="modal" data-target="#client_company_<%= client.id%>"><i class="fa fa-user-circle-o"></i></a>
    <%= link_to  client_edit_companies_path(client) do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%#= link_to client_delete_company_path(client), method: :delete,data: {confirm: "Are you sure?"} do %>
      <!-- <i class="fa fa-times"></i> -->
    <%# end %>
  <td>
</tr>
<%end%>


<% if @clients.present? %>
  <% @clients.each do |ac|%>
    <div id="client_company_<%= ac.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Active Clients</h4>
          </div>
          <div class="modal-body">
            <p>Name : <span><%= ac.try(:name?) %></span></p>
            <p>Company Name : <span><%= ac.try(:client_company).try(:name) %></span></p>
            <p>Contact Number <span><%= ac.try(:client_company).try(:contact_number) %></span></p>
            <p>Address : <span><%= ac.try(:client_company).try(:address?) %></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>